<!DOCTYPE html>
<html>
  <head>
    <title>Velkommen i Butikken - Login</title>
    <link rel="stylesheet" type="text/css" href="/style.css" />
  </head>
  <body>
    <header>
      <h1>Velkommen!</h1>
      <p>Login for at vedligeholde varer.</p>
    </header>
    <section>
      <form action="/login" method="POST">
        <a href="/">< Tilbage</a>
        <p class="error"
          ><% if (messages.error) { %> <%= messages.error %> <% } %></p
        >
        <h3>Login</h3>
        <label for="username"> Email </label>
        <input type="text" id="username" name="username" required />
        <label for="password"> Kodeord </label>
        <input type="password" id="password" name="password" required />
        <button type="submit">Log ind</button>
        <a href="/register">Oprette ny profil</a>
      </form>
    </section>
  </body>
</html>
