* {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html {
  box-sizing: border-box;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

.error {
  font-weight: 100;
  color: red;
  font-style: italic;
}

.image {
  max-width: 100px;
  max-height: 100px;
}

form {
  margin: auto;
  width: 50%;
  padding: 10px;
}

input[type=text],input[type=password],input[type=email],input[type=file] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
button[type=button], button[type=submit], button[type=reset] {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  width: 100%;
}

button.new {
  width: 200px;
  background-color: lightslategrey;
  font-size: 120%;
}
button.new a {
  text-decoration: none;
  color: white;
}

header {
  padding: 30px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 20px;
}

section.gray {
  background: lightgray;
  padding: 3px;
  padding-right: 20px;
  text-align: right;
}
section.silver {
  background: #e4e4e4;
  padding: 3px;
  padding-right: 20px;
  text-align: left;
}

#ads {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#ads td, #ads th {
  border: 1px solid #ddd;
  padding: 8px;
}

#ads td.price {
  text-align: right
}
#ads td.image {
  text-align: center
}

#ads tr:nth-child(even){background-color: #f2f2f2;}

#ads  tr:hover {background-color: #ddd;}

#ads th th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #04AA6D;
  color: white;
}

 /* unvisited link */
 a:link {
  color: red;
}

/* visited link */
a:visited {
  color: green;
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: blue;
} 